<h1>Courses</h1>


<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Professor</th>
      <th>First session</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td><%= course.professor.name %></td>
        <td><%= course.first_session.to_s(:session_format) %></td>
        <td><%= link_to 'Show', course, class: "btn btn-dark" %></td>
        <td><%= link_to 'Edit', edit_course_path(course), class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'You will delete all the sessions of this course. Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path, class: "btn btn-outline-success my-2 my-sm-0" %>
